<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDc8WEDBXgMcirtil4R-0W4VPDS2wqY1QU</string>
	<key>GCM_SENDER_ID</key>
	<string>1045247059928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citytocoastApp1</string>
	<key>PROJECT_ID</key>
	<string>sitterapp-2314e</string>
	<key>STORAGE_BUCKET</key>
	<string>sitterapp-2314e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045247059928:ios:9f76da9e854010722834ad</string>
</dict>
</plist>